<style type="text/css">
body { 
    font: normal 12px; 
    color: #077AC7; 
    background: #FFFFFF; 
	margin-top: 0px; 
} 
.msg_box{border:1px solid #077AC7;}
.header{border-bottom:1px solid #077AC7;}
table { 
    border: 1px solid #99D3FB; 
	border-bottom: 0px solid #99D3FB; 
	border-right: 0px solid #99D3FB;
} 
th { 
    font: bold 11px; 
    color: #077AC7; 
    border-right: 1px solid #99D3FB; 
	border-left: 0px solid #99D3FB; 
    border-bottom: 1px solid #99D3FB; 
    border-top: 0px solid #99D3FB; 
    letter-spacing: 2px; 
    text-transform: uppercase; 
    text-align: left; 
    padding: 6px 6px 6px 12px; 
    background: #ECF7FE ; 
} 

th.nobg { 
    border-top: 0; 
    border-left: 0; 
    border-right: 1px solid #99D3FB; 
    background: none; 
} 

td { 
    border-right: 1px solid #99D3FB; 
    border-bottom: 1px solid #99D3FB; 
    background: #fff; 
    font-size:12px; 
    padding: 6px 6px 6px 12px; 
    color: #077AC7; 
} 


td.alt { 
    background: #F5FAFA; 
    color: #797268; 
} 

th.spec { 
    border-left: 1px solid #99D3FB; 
    border-top: 0; 
    background: #fff ; 
    font: bold 10px; 
} 

th.specalt { 
    border-left: 1px solid #99D3FB; 
    border-top: 0; 
    background: #f5fafa ; 
    font: bold 10px; 
    color: #797268; 
} 
caption { 
    padding: 0 0 5px 0; 
    width: 500px;      
    font: 12px; 
    text-align: center; 
	height:27px;
	line-height:27px;
	border: 1px solid #99D3FB; 
	border-bottom: 0px solid #99D3FB; 
} 

</style>
<br /><br /><br /><br /><br /><br />
<table width="500"  align="center" cellpadding="0" cellspacing="0">
<caption>系统提示</caption>
<tr>
  <td class="altbg2">
  <div align="center">
  <br /><br /><br />$tipInfo<br /><br /></div><br /><br />
  </td>
</tr>
</table>
